<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <variable name="LogHome" value="${basedir}/Log"/>
  <variable name="DailyDir" value="${LogHome}/${date:format=yyyy}/${date:format=MM}/${date:format=dd}"/>
  <variable name="HourlyArchive" value="${DailyDir}/${date:format=HH}-Archive/${level}-${logger}-{#######}-archived.a"/>
  <variable name="AppLogPath" value="${DailyDir}/${level}-${logger}.log"/>

  <targets>
   
    <target name="logfile"  xsi:type="File" fileName="${basedir}/nlog.log"
            layout="[${level:upperCase=true}] Date: ${date} Method: ${callsite} Stack: ${stacktrace:topFrames=10} :Logger: ${logger} Message: ${message}" />

    <target name="rollingfile1" xsi:type="File"
          layout="${longdate} ${logger} ${message}${exception:format=ToString}"
          fileName="${basedir}/logs/logfile.txt"
          maxArchiveFiles="2"
          archiveAboveSize="256"
          archiveEvery="Day" />

    <target name="AppAsyncTarget" xsi:type="AsyncWrapper">
      <target xsi:type="RetryingWrapper" retryDelayMilliseconds="3000" retryCount="10">
        <target xsi:type="File" fileName="${AppLogPath}" encoding="utf-8"
            maxArchiveFiles="50"
            archiveNumbering="Sequence"
            archiveAboveSize="20000"
            archiveFileName="${HourlyArchive}"
            layout="`${longdate}`${message}" />
      </target>
    </target>
    
  </targets>

  <rules>
    
    <logger name="*" minlevel="Trace" writeTo="logfile" />
    <logger name="*" minlevel="Trace" writeTo="AppAsyncTarget" />
    <logger name="rolling0" minlevel="Debug" writeTo="rollingfile1" />

  </rules>
</nlog>
